/* reset */
*,
html,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* color parameters */
:root {
    --gray-color-1: #E2E8F0;
    --yellow-color-1: #F0B429;
    --blue-color-1: #1992D4;
    --white:#fff;
    --black:#000;
}

/* general */
a {
    color: inherit;
}

li {
    list-style-type: none;
}



/* font parameter */
:root {
    --main-font: 'roboto', helvetica, sans-serif;
}

/* fonts */

html {
    font-family: var(--main-font);
}

h1 {
    font-size: 48px;
    font-weight: 800;
}

h2 {
    font-size: 36px;
} 

h3 {
    font-size: 36px;
} 

p {
    font-size: 18px;
    line-height: 1.5;
}





